.inventory, .brands {
    width: 100%;
    display: flex;
}

.inventory .inventory-container, .brands .brands-container {
    width: 100%;
    margin: 0 2rem;
}

.inventory .addDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#addForm {
    width: 50%;
    column-gap: 2rem;
}