.icon-style {
    color: #000;
}

.container {
    display: flex;
    flex-direction: column;
}

.accounts {
    display: flex;
}

.accounts .accounts-container {
    width: 100%;
    margin: 0 2rem;
    
}

.accounts .add-accounts-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accounts .add-accounts-container .addAccDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}